# Core functionality - changes here should be rare!
/src/app.py                   @Toe-Tet
/src/backend/database.py      @Toe-Tet
/src/backend/routers/auth.py  @Toe-Tet

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Toe-Tet
